# These settings are set in a .env file that you should not share.
# The values remain secure while you place the key name in settings.py
SECRET_KEY=<unique secret key>
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1

DB_NAME=<postgresql database name>
DB_USER=<postgresql database user>
DB_PASS=<postgresql database user password>
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST=<email service host>
EMAIL_USER=<email service user>
EMAIL_PASSWORD=<email service password>
