<footer class="footer pt-5">
  <div class="container pt-5">
    <div class="row gy-4">
      <div class="col-lg-3">
        <h2 class="h5 lined text-white mb-4">About</h2>
        <p class="text-muted text-sm">
          A caring and dedicated staff of Doctors and professional healthcare workers that are here to assist you with your healthcare needs.
        </p>
        <p class="text-muted text-sm">
          We're here 24/7 so you can easily contact us when you need help.
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="social-link" href="#!"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link" href="#!"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link" href="#!"
              ><i class="fab fa-google-plus"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link" href="#!"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h2 class="h5 text-white lined mb-4">Quick Links</h2>
        <div class="d-flex">
          <ul class="list-unstyled d-inline-block me-4 mb-0">
            <li class="mb-2">
              <a class="footer-link" href="#!">Make appointments</a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="#!">Doctors team</a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="#!">Departments services</a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="#!">About our clinic</a>
            </li>
          </ul>
          <ul class="list-unstyled d-inline-block mb-0">
            <li class="mb-2">
              <a class="footer-link" href="{% url 'index' %}">Home </a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="{% url 'about' %}">About us </a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="{% url 'contact' %}">Contact us </a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="#">About our clinic </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 class="h5 text-white lined mb-4">Newsletter</h2>
        <p class="text-muted text-sm">
          Sign up for our monthly newsletter. We discuss current trends in public health, and feature articles on a variety of topics. Be assured that we will never share your email with anyone.
        </p>
        <div class="input-group mb-3">
          <input
            class="form-control text-muted bg-none border-primary"
            type="text"
            placeholder="Email address"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-primary" id="button-addon2" type="button">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container text-center py-4">
      <p class="mb-0 text-muted text-sm">
        &copy; 2023, Excession Development. Template designed by
        <a href="https://bootstrapious.com/p/medicio-bootstrap-medical-template"
          >Bootstrapious</a
        >.
      </p>
      <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
    </div>
  </div>
</footer>
