{% load static %}
<!-- navbar-->
<header class="header">
  <!-- Primary Navbar-->
  <nav
    class="navbar navbar-expand-lg navbar-light py-4 border-bottom border-gray bg-white"
  >
    <div class="container d-flex align-items-center justify-content-between">
      <a class="navbar-brand" href="{% url 'index' %}"
        ><img src="{% static 'img/logo.svg' %}" alt="" width="170"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="list-inline mb-0 d-none d-lg-block">
        <li class="list-inline-item me-3">
          <div class="d-flex">
            <i class="far fa-clock h4 text-muted"></i>
            <div class="ms-2">
              <h6 class="text-muted text-uppercase mb-0 text-sm">
                Mon - Fri: 08:00AM - 20:00PM
              </h6>
              <p class="small text-gray mb-0">Saturday and Sunday - CLOSED</p>
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="d-flex">
            <i class="fas fa-headphones-alt h4 text-muted"></i>
            <div class="ms-2">
              <h6 class="text-muted text-uppercase mb-0 text-sm">
                + 0800 2466 7921
              </h6>
              <p class="small text-gray mb-0">Contact Us For Help</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Secondary Navbar                -->
  <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
    <div class="container">
      <div
        class="collapse navbar-collapse py-3 py-lg-0"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <!-- Link--><a
              class="nav-link text-uppercase letter-spacing-0"
              href="{% url 'index' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <!-- Link--><a
              class="nav-link text-uppercase letter-spacing-0"
              href="{% url 'about' %}"
              >About</a
            >
          </li>
          <li class="nav-item">
            <!-- Link--><a
              class="nav-link text-uppercase letter-spacing-0 active"
              href="{% url 'contact' %}"
              >Contact</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link px-4 d-inline-block" id="searchToggler" href="#"
              ><i class="fas fa-search text-muted"></i
              ><i class="fas fa-times text-muted d-none"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-uppercase letter-spacing-0 border-start px-4 bg-primary text-white d-inline-block"
              href="{% url 'contact' %}"
              >Make an Appointment</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-3 shadow-sm index-forward border-top" id="search">
    <div class="container">
      <form action="#">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="What're you looking for..."
          />
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search me-2"></i>Search
          </button>
        </div>
      </form>
    </div>
  </div>
</header>
